{{ extends "global/Page.html" }}

{{ block title }}
    Start of the Game
{{ endblock }}

{{ block content }}
On the top of the page, you can see the <b> time limit.</b> <br>
The time limit should give you enough time to properly read each page, please do not rush. <br>
Please complete each page within the time limit by clicking the "next" button. <br>
<b> If you fail to answer within the time limit</b>, you will be excluded for the study and get no reward.

You are matched to these other group members for the rest of the experiment. <br>
Each of you has been given a nickname. <br>

{% if player.info_treatment == True %}
The table below will be completed as you progress through the experiment. <br>
The contribution and Deduction Points decisions made by others will thus be visible to you. <br>
Your decisions will also be visible for others <br>
You cannot assign Deduction Points to yourself, so that cell will always be zero. <br> <br>
<table>
    <tr>
        <th> Player </th>
        <th> Contribution </th>
        <th> Deduction Points assigned to you </th>
    </tr>

    <tr>
        <td> You ({{player.nickname}})</td>
        <td> </td>
        <td> 0 </td>
    </tr>
    <tr>
        <td> {{player.p2_nickname}}</td>
        <td>  </td>
        <td>  </td>
    </tr>
    <tr>
        <td> {{player.p3_nickname}} </td>
        <td>  </td>
        <td>  </td>
    </tr>
{% if C.GROUP_SIZE > 3 %}
    <tr>
        <td> {{player.p4_nickname}} </td>
        <td> </td>
        <td> </td>
    </tr>
{% endif %}
</table>

<br>
{% endif %}
<br>

{%if player.info_treatment == False %}
This is your group:
<br>
You ({{player.nickname}})
<br>
{{player.p2_nickname}}
<br>
{{player.p3_nickname}}
<br>
{% if C.GROUP_SIZE > 3 %}
{{player.p4_nickname}}
{% endif %}
<br>
{% endif %}


{{next_button}}
{{ endblock }}

{{ block scripts }}
<script>
function playBell() {
    const ctx = new (window.AudioContext || window.webkitAudioContext)();
    const oscillator = ctx.createOscillator();
    const gainNode = ctx.createGain();

    oscillator.connect(gainNode);
    gainNode.connect(ctx.destination);

    oscillator.type = 'sine';
    oscillator.frequency.setValueAtTime(880, ctx.currentTime);
    oscillator.frequency.exponentialRampToValueAtTime(440, ctx.currentTime + 1);

    gainNode.gain.setValueAtTime(0.7, ctx.currentTime);
    gainNode.gain.exponentialRampToValueAtTime(0.001, ctx.currentTime + 1.5);

    oscillator.start(ctx.currentTime);
    oscillator.stop(ctx.currentTime + 2);
}

document.addEventListener('DOMContentLoaded', playBell);
</script>
{{ endblock }}

