{{ block title }}
    Overview
{{ endblock }}

{% block styles %}
    <link rel="stylesheet" href="{{ static 'global/theme.css' }}">
{% endblock %}

{{ block content }}


<table>
    <tr>
        <th> Player </th>
        <th> Contribution </th>
    </tr>

    <tr>
        <td> You </td>
        <td> {{player.contribution}} </td>
    </tr>
    <tr>
        <td> {{player.p2_nickname}}</td>
        <td> {{player.p2_contribution}} </td>
    </tr>
    <tr>
        <td> {{player.p3_nickname}} </td>
        <td> {{player.p3_contribution}} </td>
    </tr>
{% if C.PLAYERS_PER_GROUP > 3 %}
    <tr>
        <td> {{player.p4_nickname}} </td>
        <td> {{player.p4_contribution}} </td>
    </tr>
{% endif %}
    <tr>
        <td> Total </td>
        <td> {{group.collective_contribution}}   </td>
    </tr>
</table>

    {{ formfields }}
    {{ next_button }}

You contributed {{player.contribution}} to the public good. <br>
Your remaining endowment is {{player.remaining_endowment}}. <br>
Total group contribution = {{group.collective_contribution}}. <br>
You earn {{C.MPCR}} x {{group.collective_contribution}} = {{group.PG_earnings}} from the public good. <br>
Your intermediate earnings are {{player.remaining_endowment}} + {{group.PG_earnings}} = {{player.intermediate_earnings}}. <br>

{{ endblock }}