{{ block title }}
    Estimate 2
{{ endblock }}

{% block styles %}
    <link rel="stylesheet" href="{{ static 'global/theme.css' }}">
{% endblock %}

{{ block content }}

These are the players in your group:
<br>
You ({{player.nickname}})
<br>
{{player.p2_nickname}}
<br>
{{player.p3_nickname}}
<br>
{% if C.PLAYERS_PER_GROUP > 3 %}
{{player.p4_nickname}}
{% endif %}

</br>
<b> The group total contribution is {{group.collective_contribution}} <br>
You contributed {{player.contribution}}
</br>
This means that other players collectively contributed {{player.contribution_others}}</b>
</br>

{{ formfield 'post_belief_co0' label=post_belief_co0_label }}
{{ formfield 'post_belief_co1' label=post_belief_co1_label }}
{% if C.PLAYERS_PER_GROUP > 3 %}
{{ formfield 'post_belief_co2' label=post_belief_co2_label }}
{% endif %}

{{next_button}}
{{ endblock }}

