{{ block title }}
    Estimate 3
{{ endblock }}

{% block styles %}
    <link rel="stylesheet" href="{{ static 'global/theme.css' }}">
{% endblock %}

{{ block content }}

Each player can spend tokens to decrease your earnings. Please indicate how much you expect each player to spend on this.

{% if C.TREATMENT == False%} <br>
The total group contribution is {{group.collective_contribution}} <br>
Your contribution is {{player.contribution}} <br>
Others collectively contributed {{player.contribution_others}}
{% endif %}
<br> <br>


{% if C.TREATMENT == True %}
<table>
    <tr>
        <th> Player </th>
        <th> Contribution </th>
    </tr>

    <tr>
        <td> You </td>
        <td> {{player.contribution}} </td>
    </tr>
    <tr>
        <td> {{player.p2_nickname}}</td>
        <td> {{player.p2_contribution}} </td>
    </tr>
    <tr>
        <td> {{player.p3_nickname}} </td>
        <td> {{player.p3_contribution}} </td>
    </tr>
{% if C.PLAYERS_PER_GROUP > 3 %}
    <tr>
        <td> {{player.p4_nickname}} </td>
        <td> {{player.p4_contribution}} </td>
    </tr>
{% endif %}
    <tr>
        <td> Total </td>
        <td> {{group.collective_contribution}}   </td>
    </tr>
</table>
{% endif %}

<br>
{{ formfield 'pun_belief_co0' label=pun_belief_co0_label }}
{{ formfield 'pun_belief_co1' label=pun_belief_co1_label }}
{% if C.PLAYERS_PER_GROUP > 3 %}
{{ formfield 'pun_belief_co2' label=pun_belief_co2_label }}
{% endif %}



{{next_button}}
{{ endblock }}

