{{ block title }}
    Page title
{{ endblock }}

{% block styles %}
    <link rel="stylesheet" href="{{ static 'global/theme.css' }}">
{% endblock %}

{{ block content }}

<table>
    <tr>
        <th> Player </th>
        <th> Contribution </th>
    </tr>

    <tr>
        <td> You </td>
        <td> {{player.contribution}} </td>
    </tr>
    <tr>
        <td> {{player.p2_nickname}} </td>
        <td> {{player.p2_contribution}} </td>
    </tr>
    <tr>
        <td> {{player.p3_nickname}} </td>
        <td> {{player.p3_contribution}} </td>
    </tr>
{% if C.PLAYERS_PER_GROUP > 3 %}
    <tr>
        <td> {{player.p4_nickname}} </td>
        <td> {{player.p4_contribution}} </td>
    </tr>
{% endif %}
    <tr>
        <td> Total </td>
        <td> {{group.collective_contribution}}        </td>
    </tr>
</table>

    {{ formfields }}
    {{ next_button }}

{{ endblock }}