{{ block title }}
    Choice 2
{{ endblock }}

{% block styles %}
    <link rel="stylesheet" href="{{ static 'global/theme.css' }}">
{% endblock %}

{{ block content }}


<table>
    <tr>
        <th> Player </th>
        <th> Contribution </th>
    </tr>

    <tr>
        <td> You </td>
        <td> {{player.contribution}} </td>
    </tr>
    <tr>
        <td> {{player.p2_nickname}} </td>
        <td> {{player.p2_contribution}} </td>
    </tr>
    <tr>
        <td> {{player.p3_nickname}} </td>
        <td> {{player.p3_contribution}} </td>
    </tr>
{% if C.PLAYERS_PER_GROUP > 3 %}
    <tr>
        <td> {{player.p4_nickname}} </td>
        <td> {{player.p4_contribution}} </td>
    </tr>
{% endif %}
    <tr>
        <td> Total </td>
        <td> {{group.collective_contribution}}        </td>
    </tr>
</table>
</br>
Please indicate for each player how much you want to spend to deduct their earnings.
Remember: for each token you spend, their earnings will decrease by {{C.PUN_MULTIPLIER}} tokens
</br>

{{ formfield 'punishment_co0' label=punishment_co0_label }}
{{ formfield 'punishment_co1' label=punishment_co1_label }}

{% if C.PLAYERS_PER_GROUP > 3 %}
{{ formfield 'punishment_co2' label=punishment_co2_label }}
{% endif %}

    {{ next_button }}

{{ endblock }}