{{ block title }}
    Terminated
{{ endblock }}

{% block styles %}
    <link rel="stylesheet" href="{{ static 'global/theme.css' }}">
{% endblock %}

{{ block content }}

{% if player.time_out_dummy == True %}
<strong> You timed out on one of the pages. </strong> <br>
Therefore, you have been removed from the game. <br>
Because you failed to complete the tasks within time, you will not be paid. <br>
{% endif %}

{% if player.group.game_terminated == True%}
The game was terminated because too many players disconnected.<br>
Therefore, the results for the game will not count for payment, as the game has never been completed.
{% endif %}

    {{ next_button }}

{{ endblock }}
